html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
  padding: .2rem 2rem;
}

.body {
    font-size: 2rem;
    font-style: italic;
}

h2 {
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  position: absolute;
  margin: 0;
  padding: .3rem 1rem;
  bottom: 0;
  left: 0;
  max-height: 500px;
  max-width: 50em;
  text-transform: capitalize;
}

.banner {
  position: relative;
}
